@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
    margin: 0;
    padding: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.main {
    width: 375px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
}

header {
    width: 375px;
    height: 424px;
    background: linear-gradient(90deg, #333333 4.8%, rgba(51, 51, 51, 0) 70.13%), url('../img/bg_creditos.jpg');
}

.icon {
    position: absolute;
    width: 20px;
    height: 33.2px;
    left: 27px;
    top: 29px;
}

.icon-detail {
    position: absolute;
    width: 10.4px;
    height: 11.42px;
    left: 30.2px;
    top: 31.09px;
}

.logo {
    position: absolute;
    width: 81.18px;
    height: 24.66px;
    left: 49.52px;
    top: 32px;
}

.text {
    position: absolute;
    width: 141px;
    height: 15px;
    left: 20px;
    top: 92px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.status {
    position: absolute;
    width: 141px;
    height: 15px;
    left: 20px;
    top: 92px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recharge {
    position: absolute;
    width: 220px;
    height: 75px;
    left: 21px;
    top: 107px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 36px;
    padding-top: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-left {
    position: absolute;
    width: 159px;
    height: 114px;
    left: 21px;
    top: 242px;
    background: #F2F2F2;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.value-left {
    position: absolute;
    width: 159px;
    height: 55px;
    left: 21px;
    top: 242px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #2E7CE6;
}

.description-left {
    position: absolute;
    width: 159px;
    height: 23px;
    left: 21px;
    top: 299px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #828282;
}

.hire-left {
    position: absolute;
    width: 159px;
    height: 34px;
    left: 21px;
    top: 322px;
    background: #F2994A;
    border-radius: 0px 0px 8px 8px;
}

.hire-left-text {
    position: absolute;
    width: 149.85px;
    height: 34px;
    left: 25.58px;
    top: 322px;
    padding-top: 16px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    line-height: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #55361A;
}

.card-right {
    position: absolute;
    width: 159px;
    height: 114px;
    left: 197px;
    top: 242px;
    background: #F2F2F2;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.value-right {
    position: absolute;
    width: 159px;
    height: 55px;
    left: 197px;
    top: 242px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #2F80ED;
}

.description-right {
    position: absolute;
    width: 159px;
    height: 22px;
    left: 197px;
    top: 300px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #828282;
}

.hire-right {
    position: absolute;
    width: 159px;
    height: 34px;
    left: 197px;
    top: 322px;
    background: #F2994A;
    border-radius: 0px 0px 8px 8px;
}

.hire-right-text {
    position: absolute;
    width: 149.85px;
    height: 34px;
    left: 201.58px;
    top: 322px;
    padding-top: 16px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    line-height: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #55361A;
}

.tabs {
    position: absolute;
    width: 375px;
    height: 44px;
    left: 0;
    top: 381px;
    background: #4F4F4F;
    background-blend-mode: overlay;
    border: 1px solid rgba(242, 242, 242, 0.4);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(242, 242, 242, 0.4);
    box-sizing: border-box;
    backdrop-filter: blur(7px);
    /* Note: backdrop-filter has minimal browser support */
}

.tab-left {
    position: absolute;
    width: 187px;
    height: 42px;
    left: 0px;
    top: 382px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    line-height: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
    border-right: 1px solid rgba(242, 242, 242, 0.4);
}

.tab-left-selected {
    position: absolute;
    width: 187px;
    height: 3px;
    left: 0px;
    top: 381px;
    background: #F2F2F2;
}

.tab-left-text {
    position: absolute;
    width: 187px;
    height: 42px;
    left: 0px;
    top: 382px;
    padding-top: 20px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    line-height: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
}

.tab-right {
    position: absolute;
    width: 187px;
    height: 42px;
    left: 187px;
    top: 382px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    line-height: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
}

.tab-right-text {
    position: absolute;
    width: 187px;
    height: 42px;
    left: 187px;
    top: 382px;
    padding-top: 20px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    line-height: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
}

.card-top-left {
    position: absolute;
    width: 163.1px;
    height: 86.98px;
    left: 18px;
    top: 489.19px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    mix-blend-mode: normal;
    opacity: 0.9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-top-right {
    position: absolute;
    width: 163.1px;
    height: 86.98px;
    left: 192.9px;
    top: 489.19px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    mix-blend-mode: normal;
    opacity: 0.9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-bottom-left {
    position: absolute;
    width: 163.1px;
    height: 86.98px;
    left: 18px;
    top: 686.63px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    mix-blend-mode: normal;
    opacity: 0.9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-bottom-right {
    position: absolute;
    width: 163.1px;
    height: 86.98px;
    left: 192.9px;
    top: 686.63px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    mix-blend-mode: normal;
    opacity: 0.9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}