<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>HAPZ</title>
</head>

<body>
    <div id='app' v-cloak class='container-fluid m-0 p-0 mx-auto'>
        <div class="row m-0 p-0 mx-auto">
            <div class='col-sm-3 bg-white m-0 p-0 mx-auto'>

                <header class='position-relative' v-bind:class="aplicar_classe">

                    <!-- Logo -->
                    <div class='p-4'>
                        <a href='#'><img class='pl-2' alt='logo' src='img/logo.png' /></a>
                        <div class='pt-4 text-white text-uppercase text-shadow font-weight-bold'>
                            Você está sem saldo
                        </div>
                        <div class='pt-2 text-white text-uppercase text-shadow recharge w-50'>
                            Recarregue agora
                        </div>

                        <!-- Cards -->
                        <div class='row pt-5'>

                            <div class='col pt-3 pr-2' v-show='tab_creditos'>
                                <div class='card'>
                                    <span v-for='(key, value) in planos.recarga' v-if='key.id == 1'>
                                        <div class="card-title text-center font-weight-bold text-uppercase mb-0">
                                            R$ {{ key.amount}}
                                        </div>
                                        <div class="card-text text-center">
                                            E ganhe R$ {{ key.bonus_amount}} de bônus
                                        </div>
                                    </span>
                                    <a href="#" class="btn btn-contract mt-2">Contratar</a>
                                </div>
                            </div>

                            <div class='col pt-3 pr-2' v-show='tab_dados'>
                                <div class='card'>
                                    <span v-for='(key, value) in planos.dados' v-if='key.id == 3'>
                                        <div class="card-title text-center font-weight-bold text-uppercase mb-0">
                                            {{ key.gb_amount}} GB
                                        </div>
                                        <div class="card-text text-center">
                                            Redes sociais ilimitadas
                                        </div>
                                    </span>
                                    <a href="#" class="btn btn-contract mt-2">Contratar</a>
                                </div>
                            </div>

                            <div class='col pt-3 pl-2' v-show='tab_creditos'>
                                <div class='card'>
                                    <span v-for='(key, value) in planos.recarga' v-if='key.id == 2'>
                                        <div class="card-title text-center font-weight-bold text-uppercase mb-0">
                                            R$ {{ key.amount}}
                                        </div>
                                        <div class="card-text text-center">
                                            E ganhe R$ {{ key.bonus_amount}} de bônus
                                        </div>
                                    </span>
                                    <a href="#" class="btn btn-contract mt-2">Contratar</a>
                                </div>
                            </div>

                            <div class='col pt-3 pl-2' v-show='tab_dados'>
                                <div class='card'>
                                    <span v-for='(key, value) in planos.dados' v-if='key.id == 5'>
                                        <div class="card-title text-center font-weight-bold text-uppercase mb-0">
                                            {{ key.gb_amount}} GB
                                        </div>
                                        <div class="card-text text-center">
                                            Redes sociais ilimitadas
                                        </div>
                                    </span>
                                    <a href="#" class="btn btn-contract mt-2">Contratar</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Tabs -->

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item w-50" v-on:click="tabCreditos">
                            <a class="nav-link active text-center text-uppercase font-weight-bold" id="creditos-tab"
                                data-toggle="tab" href="#creditos" role="tab" aria-controls="creditos"
                                aria-selected="true">Créditos</a>
                        </li>
                        <li class="nav-item w-50" v-on:click="tabDados">
                            <a class="nav-link text-center text-uppercase" id="dados-tab" data-toggle="tab"
                                href="#dados" role="tab" aria-controls="dados" aria-selected="false">Dados</a>
                        </li>
                    </ul>
                </header>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="creditos" role="tabpanel" aria-labelledby="creditos-tab">
                        <div class='row m-0 pt-4 px-3'>
                            <div class='col pt-2 pr-2'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 5.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        HAPZ Descontos</div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>
                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Saraiva 10%</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>Curta o som</div>
                            </div>
                            <div class='col pt-2 pl-2'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 6.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        HAPFIT</div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>
                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Corpo perfeito</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>5 dias grátis</div>
                            </div>
                        </div>

                        <div class='row m-0 pb-4 pt-3 px-3'>
                            <div class='col pr-2'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 3.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        HAPZ Sounds
                                    </div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>
                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Curta um som</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>7 dias grátis</div>
                            </div>
                            <div class='col pl-2'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 7.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        PlayKids</div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>

                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Muita diversão!</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>3 dias grátis</div>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="dados" role="tabpanel" aria-labelledby="dados-tab">
                        <div class='row m-0 pt-4 px-3'>
                            <div class='col pr-1'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 5.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        HAPZ Descontos</div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>
                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Saraiva 10%</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>Curta o som</div>
                            </div>
                            <div class='col pl-1'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 6.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        HAPFIT</div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>
                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Corpo perfeito</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>5 dias grátis</div>
                            </div>
                        </div>

                        <div class='row m-0 pb-4 pt-3 px-3'>
                            <div class='col pr-1'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 3.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        HAPZ Sounds</div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>
                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Curta um som</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>7 dias grátis</div>
                            </div>
                            <div class='col pl-1'>
                                <div class='card position-relative'>
                                    <div class='card-gradient position-absolute'></div>
                                    <img class="card-img-top" src="img/image 7.jpg" alt="Card image cap" />
                                    <div class="card-title text-center text-white position-absolute">
                                        PlayKids</div>
                                    <a href="#"
                                        class="btn btn-sign text-white text-uppercase position-absolute">Assine</a>

                                </div>
                                <div class='card-text pt-2 pl-2 pb-0 pr-0 font-weight-bold'>Muita diversão!</div>
                                <div class='card-text pt-2 pl-2 text-uppercase'>3 dias grátis</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/app.js"></script>

</body>

</html>